<template>
  <div>
    <h1> Connexion</h1>
    <form @submit.prevent="submitForm" v-if="!formSubmitted">
      <span>Email</span><br>

      <input v-model="email" type="email" placeholder="Enter your email" /><br>

      <span> Mot de passe</span> <br>
      <input v-model="password" type="password" placeholder="Saisir votre mot de passe"><br>

      <input class="submit" type="submit" value="Submit"> <br>

      <span>Vous n'avez pas encore compte ? Inscrivez <router-link to="/Signin">vous</router-link> </span>


    </form>
    <div v-if="formSubmitted">

      <h3>Form Submitted</h3>

      <p>Email: {{ email }}</p>

      <p> Password: {{ password }}</p>

    </div>

  </div>
</template>

<script>
import PocketBase from 'pocketbase';
export default {
  data() {
    return {
      email: '',
      password: '',
      formSubmitted: false
    };

  },

  methods: {
    async submitForm() {

      const pb = new PocketBase('http://127.0.0.1:8090');
      const authData = await pb.collection('users').authWithPassword(
        '', 
        ''
      );

      // after the above you can also access the auth data from the authStore
      console.log(pb.authStore.isValid);
      console.log(pb.authStore.token);
      console.log(pb.authStore.model.id);

      // "logout" the last authenticated account
      pb.authStore.clear();
    },
    isValidEmail(email) {
      const emailRegex = /\S+@\S+\.\S+/;
      return emailRegex.test(email);
    },
  },

};

</script>

<style>
form {

  padding: 10px;

  border: 2px solid black;

  border-radius: 5px;

}



input {

  padding: 4px 8px;

  margin: 4px;

}



span {

  font-size: 18px;

  margin: 4px;

  font-weight: 500;

}



.submit {

  font-size: 15px;

  color: #fff;

  background: #222;

  padding: 6px 12px;

  border: none;

  margin-top: 8px;

  cursor: pointer;

  border-radius: 5px;

}
</style>