<template>
  <div>
    <div v-for="(recipe, index) in recipes" :key="index" class="recipe">
      <img :src="recipe.image" :alt="recipe.title" class="recipe-image" />
      <div class="recipe-details">
        <h2>{{ recipe.title }}</h2>
        <ul>
          <li v-for="(ingredient, i) in recipe.ingredients" :key="i">{{ ingredient }}</li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
// Define the Recipe interface
interface Recipe {
  title: string;
  image: string;
  ingredients: string[];
}

const recipes: Recipe[] = [
  {
    title: 'Couscous',
    image: '/pic2.jpg',
    ingredients: ['Ingredient 2-1', 'Ingredient 2-2', 'Ingredient 2-3'],
  },
  {
    title: 'mushroom',
    image: '/pic3.jpg',
    ingredients: ['Ingredient 2-1', 'Ingredient 2-2', 'Ingredient 2-3'],
  },
  {
    title: 'steak',
    image: '/pic4.jpg',
    ingredients: ['Ingredient 2-1', 'Ingredient 2-2', 'Ingredient 2-3'],
  },
  {
    title: 'kagyana',
    image: '/pic5.jpg',
    ingredients: ['Ingredient 2-1', 'Ingredient 2-2', 'Ingredient 2-3'],
  },
  {
    title: 'fish-',
    image: '/pic8.jpg',
    ingredients: ['Ingredient 2-1', 'Ingredient 2-2', 'Ingredient 2-3'],
  },
];
</script>

<style scoped>
.recipe {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.recipe-image {
  max-width: 400px;
  height: 200px;
}

.recipe-details {
  flex: 1;
  padding: 10px;
}

h2 {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

li {
  margin-bottom: 4px;
}
</style>
