<template>
    <div>
      <h1>Inscription</h1>
      <form @submit.prevent="submitForm" v-if="!formSubmitted">
        <span>Username</span><br>
        <input v-model="username" type="text" placeholder="Enter your name" /><br>
        <span>Email</span><br>
        <input v-model="email" type="email" placeholder="Enter your email" /><br>
        <span> Mot de passe</span> <br>
        <input v-model="password" type="password" placeholder="Saisir votre mot de passe"><br>
        <span> Confirmation du mot de passe</span> <br>
        <input v-model="passwordConfirm" type="password" placeholder="Saisir votre mot de passe"><br>
        <input class="submit" type="submit" value="Submit"> <br>
      </form>
      <div v-if="formSubmitted">
        <h3>Form Submitted</h3>
        <p>username: {{ username }}</p>
        <p>Email: {{ email }}</p>
        <p> Password: {{ password }}</p>
        <p> Password Confirm: {{ passwordConfirm }}</p>
      </div>
    </div>
  </template>
  
  <script>
  import PocketBase from 'pocketbase';
  
  export default {
    data() {
      return {
        username: '',
        email: '',
        password: '',
        passwordConfirm: '',
        status: 'Simple',
        formSubmitted: false
      };
    },
    methods: {
      async submitForm() {
        const pb = new PocketBase('http://127.0.0.1:8090');
        const data = {
          username: this.username,
          email: this.email,
          password: this.password,
          passwordConfirm: this.passwordConfirm,
          status: this.status
        };
        try {
          const record = await pb.collection('users').create(data);
          console.log('Utilisateur créé:', record);
          this.$router.push('/recipe');
          // Autres actions après la création réussie
        } catch (error) {
          console.error('Erreur lors de la création de l\'utilisateur:', error);
        }
      },
      isValidEmail(email) {
        const emailRegex = /\S+@\S+\.\S+/;
        return emailRegex.test(email);
      },
    },
  };
  </script>
<style>
form {

    padding: 10px;

    border: 2px solid black;

    border-radius: 5px;

}



input {

    padding: 4px 8px;

    margin: 4px;

}



span {

    font-size: 18px;

    margin: 4px;

    font-weight: 500;

}



.submit {

    font-size: 15px;

    color: #fff;

    background: #222;

    padding: 6px 12px;

    border: none;

    margin-top: 8px;

    cursor: pointer;

    border-radius: 5px;

}
</style>