<template>
  <div id="app">
    <Signin />
    <Login/>
  </div>
</template>

<script>
import Signin from "./components/Signin.vue";
import Login from "./components/Login.vue";
export default {
  name: "app",
  components: {
    Signin, 
    Login
  }
};
</script>


